h1 {
    color: #0000ff;
    text-align: center;
}

h2 {
    color: green;
    font-style: italic;
    text-align: center;
}

p {
    font-family: sans-serif;
}

ul {
  line-height: 40px;  
}

* {
    color: green;
    background-color: wheat;
    font-size: x-small;
    font-style: normal;
    font-family: helvetica;
    line-height: 20px;
}

strong {
    font-style: italic;
}

em {
    font-weight: bold;
}